* {
  outline: solid 3px red;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

*:root {
  --clr-font-primary: #191826;
  --clr-font-secondary: #fcfaf9;

  --clr-bg-primary: #fa7453;
  --clr-bg-ios-hover: #66e2dc;
  --clr-bg-android-hover: #ffb964;
}

body {
  /* background-color: black; */
  background-color: var(--clr-font-secondary);
}

/* top section */
.logo {
  margin-bottom: 4rem;
}

.top-container {
  margin-top: 2.5rem;
  margin-left: clamp(1.5rem, 5.07vw, 10.3125rem);
  background-image: url('./design/assets/bg-main-mobile.png');
  background-size: 281px 480px;
  /* background-size: contain; */
  background-position: top -104px right;
  background-repeat: no-repeat;
  height: 524px;
  /* width: 100%; */
}

header {
  width: clamp(20.4375rem, 67.71vw, 63.4375rem);
}

h1 {
  margin-bottom: clamp(1.25rem, 3.64vw, 2.5rem);
  font-size: clamp(2.5rem, 8.3vw, 5.5rem);
  line-height: clamp(3rem, 8.3vw, 5.5rem);
  letter-spacing: calc(clamp(0.028125rem, 0.09469vw, 0.0625rem) * -1);
  font-weight: 700;
}

header > p {
  font-size: clamp(1rem, 2.3vw, 1.25rem);
  line-height: clamp(1.625rem, 3.6vw, 2.125rem);
  max-width: 51.5625rem;
}

/* middle section */

main {
  margin-bottom: clamp(4rem, 11.59vw, 5.5625rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    6.125rem /*top of phone img*/
    20.75rem /*between black bg & top premium card */
    3rem /*between top premium card & bottom phone img */
    13.75rem /*between bottom phone img & bottom black bg */
    20.375rem; /*between bottom black bg & bottom premium card */
}

.phone-img {
  display: block;
  margin: 0 auto;
  width: clamp(13.0625rem, 35.156vw, 19.5rem);
  height: auto;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 1;
}

.black-bg {
  width: 100%;
  height: 37.5rem;
  background-color: var(--clr-font-primary);
  border-radius: 0.75rem;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.black-bg img {
  --change-rate: 12.8vw;
  display: block;
  margin-left: clamp(3rem, var(--change-rate), 21rem);
  width: clamp(17.5rem, 36.46vw, 19.5rem);
  height: auto;
}

.premium-card {
  padding-left: clamp(2.25rem, 6.25vw, 3.375rem);
  padding-top: clamp(3rem, 6.25vw, 3.625rem);
  width: clamp(23.4375rem, 51.95vw, 27.875rem);
  height: clamp(34.125rem, 71.1vw, 39.0625rem);
  background-color: var(--clr-bg-primary);
  border-radius: 0.75rem;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  z-index: 2;
}

h2 {
  margin-bottom: clamp(0.75rem, 1.5625vw, 1.375rem);
  font-size: clamp(2rem, 4.2vw, 2.5rem);
  line-height: clamp(2.5rem, 5.2vw, 3.25rem);
  font-weight: 700;
  color: var(--clr-font-secondary);
}

.premium-card > p {
  margin-bottom: clamp(2.25rem, 4.69vw, 2.4375rem);
  font-size: clamp(1.125rem, 2.3vw, 1.25rem);
  line-height: clamp(1.75rem, 3.6vw, 2.125rem);
  color: var(--clr-font-secondary);
}

.per-month-container {
  margin-bottom: clamp(2rem, 4.16vw, 2.875rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-font-secondary);
}

.per-month-container span:first-child {
  font-size: 4.0625rem;
  line-height: 3.25rem;
  font-weight: 700;
}

.per-month-container span:last-child {
  font-size: 1.25rem;
  line-height: 2rem;
}

.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  text-decoration: none;
  width: clamp(18.5rem, 38.5vw, 20.8125rem);
  height: 3.8125rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.download-btn span:first-child {
  line-height: 1.25rem;
}

.download-btn:not(:last-child) {
  margin-bottom: 1rem;
}

.ios-btn {
  background-color: var(--clr-font-primary);
  color: var(--clr-font-secondary);
}

.ios-btn:hover {
  background-color: var(--clr-bg-ios-hover);
}

.android-btn {
  background-color: var(--clr-font-secondary);
  color: var(--clr-font-primary);
}

.android-btn:hover {
  background-color: var(--clr-bg-android-hover);
}

/* bottom section */

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  margin-left: clamp(1.5rem, 4.3vw, 10.3125rem);
  margin-bottom: 5rem;
  width: clamp(20.4375rem, 90.625vw, 69.375rem);
}

.footer-logo {
  margin-bottom: 2rem;
}

footer > p {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 4rem;
  width: min(87.2vw, 22.875rem);
}

footer p > a {
  text-decoration: none;
  color: var(--clr-font-primary);
  font-weight: 700;
}

.logo-links-container {
  display: flex;
  gap: 1.25rem;
}

/* to remove 4px beneath  */
.logo-links-container a {
  color: #191826;
  display: block;
}

.logo-links-container > a:hover {
  color: var(--clr-bg-primary);
}

.logo-links-container svg {
  display: block;
}

/* between mobile 375px and tablet 600 px */
@media screen and (min-width: 23.4375rem) and (max-width: 37.5rem) {
  .premium-card {
    width: 100%;
  }
}

/* tablet view */
@media screen and (min-width: 37.5rem) {
  /* middle section */
  main {
    width: clamp(43.5rem, 90.625vw, 69.375rem);
    margin-left: auto;
    margin-right: auto;

    /* 43.5rem total */
    grid-template-columns:
      9.19% /*left black-bg - 4rem*/
      25.14% /*left phone img to left premium card - 10.9375rem*/
      13.65% /*left premium card to right phone img - 5.9375rem*/
      43.678% /*right phone img to right premium card - 19rem*/
      08.33% /*right black-bg 3.625rem*/;

    grid-template-rows:
      8.625rem /*top of phone img*/
      9.375rem /*between black bg & top premium card */
      16.75rem /*between top premium card & bottom phone img */
      11.375rem /*between bottom phone img & bottom black bg */
      6rem; /*between bottom black bg & bottom premium card */
  }

  .phone-img {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }

  .black-bg {
    grid-column: 1 / 6;
  }

  .black-bg img {
    --change-rate: 29.8vw;
    --negative-top-margin: clamp(1.9375rem, 4.036vw, 2.5rem);
    margin-top: calc(var(--negative-top-margin) * -1);
  }

  .premium-card {
    grid-column: 3 / 5;
    grid-row: 3 / 6;
  }

  /* bottom section */
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  footer > p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: unset;
  }

  .logo-links-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
  }
}

/* desktop view */
@media screen and (min-width: 69.375rem) {
  /* middle section */
  main {
    /* 69.375rem total */
    grid-template-columns:
      9.19% /*left black-bg - 102px 6.375rem*/
      28.11% /*left phone img to left premium card - 312px 19.5rem*/
      13.96% /*left premium card to right phone img - 155px 9.6875rem*/
      40.18% /*right phone img to right premium card - 446px 27.875rem*/
      08.56% /*right black-bg 95px 5.9375rem*/;
    grid-template-rows:
      13.3125rem /*top of phone img*/
      5.625rem /*between black bg & top premium card */
      21.1875rem /*between top premium card & bottom phone img */
      10.6875rem /*between bottom phone img & bottom black bg */
      7.1875rem; /*between bottom black bg & bottom premium card */
  }

  .phone-img {
    grid-column: 2 / 3;
  }

  .premium-card {
    grid-column: 4 / 5;
  }

  /* bottom section */
  footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
  }

  footer > p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .logo-links-container {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
